<!DOCTYPE html>
<%- include('layout/style.ejs') %>

<body>
  <div class="container-login">
    <div class="form-login p-3 bg-white rounded-3">
      <form action="">
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Email</label>
          <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Password</label>
          <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp">
        </div>
        <div class="d-flex justify-content-evenly">
          <button type="submit" class="btn btn-outline-success">Log in</button>
          <a href="/admin/product-list" class="btn btn-outline-danger">I'm back</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>